<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Intuition Temple</title>
    <link rel="stylesheet" href="/static/style.css">
    <link rel="icon" href="../static/favicon.ico" type="image/x-icon" />
</head>
<body>
    <div class="container">
        <p class="title_text">INTUITION TEMPLE</p>

        <div id="connectWalletContainer">  
            <div style="display: none;" id="walletAddress"></div>      
            <button id="connectWallet">CONNECT WALLET</button>  
        </div>


        <button id="clickButton" disabled>
            PRAY
        </button>

        <div id="status" class="info"></div>
        <div id="timer" class="info"></div>
    </div>

<div id="bottomBar">
    MADE WITH <b>❤</b> FOR INTUITION COMMUNITY
</div>

    <script type="module" src="/static/script.js"></script>
</body>
</html>


